.cabeçalho__menu-hamburger {

    width: 24px;
    height: 24px;
    background-image: url("../Assets/logos/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    margin: 1em;

}

.container__botao:checked~.container__rotulo > .cabeçalho__menu-hamburger{

    background-image: url(../Assets/logos/Menu\ Aberto.svg);
}

.container__botao:checked~.container__rotulo {

    background: var(--azul-degrade);
}



.cabeçalho {

    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    
}

.container {

    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-right: 1em;
    
}

.lista-menu {

    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botao {

    display: none;
}

.container__botao:checked~.lista-menu {

    display: block;
}

.lista-menu__titulo, .lista-menu__item {

    padding: 1em;
    background-color: var(--branco);
    
}

.lista-menu__titulo {

    color: var(--cor-titulo);
    font-weight: 700;
}

.lista-menu__link {

    background: var(--azul-degrade);    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}
.container__titulo {
    display: none;
}

.opcoes{
    display: none;
}
.container__texto {

    display: none;
}



@media screen and (min-width: 1024px){

    .cabeçalho {
        position: relative;
        
    }

    .transparente-tablet {
        display: none;
    }

    .container__titulo,container__titulo--negrito{
        display: block;
        font-family: var(--fonte-secudaria);
        color: var(--preto);
        font-size: 30px;
    }
    .container__titulo--negrito {
        font-weight: 700;
    }
    .container__titulo{
        font-weight: 400;
    } 

    .lista-menu__opcoes{
        top: 100%;
        position: absolute;
    }
    
    .opcoes {

        display: flex;
    }
    .opcoes__item {

        padding: 1.5em 1em;
        text-transform: uppercase;
    }
    .opcoes__item__link {
        text-decoration: none;
        color: var(--preto);
        
    }
    .opcoes__menu:checked ~ .lista-menu__opcoes{

        display: block;
        width: auto;        
    }
    .opcoes__menu:checked ~ .menu__opcoes__rotulo > .opcoes__item{
        background: var(--azul-degrade);
        color: var(--branco);
    }
    .lista-menu__item:hover{

        background: var(--azul-degrade);
    }
    .lista-menu__item:hover>.lista-menu__link{
        -webkit-text-fill-color: var(--branco);
        text-decoration: none;
    }

}

@media screen and (min-width: 1728px){

    .container__link {

        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
    }
    .container__texto{
        display: block;
    }

    .cabeçalho {

        padding: 0em 2em;
    }
    .container_imagem {
        margin-right: 0.5em;
    }

    .opcoes {
        margin-right: auto;
    }

}